:root {
    --primary-color: #0097B3;
    --secondary-color: #38bfd7;
    --background-color: #f0f0f0;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer {
    margin-bottom: 4rem;
}

header {
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: white;
    margin: -0.4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

    > h1 {
        padding-left: 2rem;
    }
    
    > nav {
        padding-right: 2rem;
        > ul > li { 
            display: inline-block;
            margin: 0 1rem;
            font-size: 1.5rem;
            width: 100%;
            height: 100%;
            position: relative;
            > a {
                text-decoration: none;
                color: black;
                transition: color 0.3s ease;
            }
        }
        > ul > li:hover > a {
            color: var(--primary-color);
        }
    }
}


h1 {
    font-weight: 700;
    font-size: 2.5em;
    margin-left: 2rem;
}


nav {
    > ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;

        > li {
            margin: 0 1rem;
        }
    }
}

footer {
    text-align: center;
}

table {
    width: 20rem;
    border-collapse: collapse;
    }
    
th {
    background-color: #d3d3d3; /* Fondo gris */
    font-weight: bold; /* Texto en negrita */
    border: 1px solid black; /* Borde negro sólido de 1px */
    padding: 8px;
}
    
td {
    border: 1px solid black; /* Borde negro sólido de 1px */
    padding: 8px;
}


form {
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: min(40rem, 80%);
}

form p {
    font-size: 1.2em;
    color: #333;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="color"],
form input[type="range"],
textarea,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
}

form button {
    
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: var(--secondary-color);
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: 1rem;

    > input[type="text"] {
        border: none;
        outline: none;
        flex: 1;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 25px;
    }

    > button {
        width: 2rem;
        height: 2rem;
        text-align: center;
        background-color: var(--primary-color);
        border: none;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        color: white;
        font-size: 1rem;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    > button:hover {
        background-color: var(--secondary-color);
    }    
}


.card {
    background-color: white;
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    border-radius: 5%;
    overflow: hidden;
    line-height: .8rem;
    transition: transform 0.3s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

    > a { 
        text-decoration: none;
        color: black; 
        display: flex;
        flex-direction: column;

        > *:not(.card-img) {
            margin-left: 1rem;
        }

        &:hover h3 {
            color: var(--primary-color);
        }

        > .card-img {
            flex: 1;
            width: 20rem;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}

.mensaje {
    background-color: white;
    width: 26rem;
    height: rem;
    margin: 1rem;
    border-radius: 5%;
    overflow: hidden;
    transition: transform 0.3s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .user-img {
        margin-left: 1rem;
        margin-top: 1rem;
        border-radius: 50%;
    }

    .mensaje-info {
        margin: 1rem;
    }
}


.titulo {
    text-decoration: none;
    color: black;
}

.enlace-registro, .enlace-login {
    text-align: center;
    margin-top: 2rem;
}

#tituloMovil {
    display: none;
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galeria_fotos {
    text-align: center;
    padding: 2rem;

    > h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .thumbnail {
        width: 360px;
        height: 360px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .thumbnail:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

#photo_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 600px;
    margin: 1rem;

    > h2 {
        font-size: 1.8rem;
        color: #333;
        margin-bottom: 0.5rem;
    }

    > p {
        font-size: 1rem;
        color: #666;
        margin: 0.5rem 0;
    }

    > h3 {
        font-size: 1.5rem;
        color: var(--primary-color);
        margin: 0.5rem 0;
    }

    > img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 1rem 0;
    }

    > p:last-of-type {
        font-weight: bold;
        color: #333;
    }
}


#profile_picture {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

#publisher_info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 1rem;


    .publisher_img {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin-right: 1rem;
    }


    p {
        margin: 0;
        font-size: 1rem;
        color: #333;
        font-weight: bold;
        margin-top: 0.3rem;
        margin-bottom: 1rem;
    }

    button {
        background-color: var(--primary-color);
        border: none;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: var(--secondary-color);
    }
}


@media (max-width: 650px) {

    #tituloMovil {
        display: inline;
    }
    header {
        z-index: 1000;
        position: fixed;
        top: auto;
        bottom: 0;
        margin-bottom: 0;
        height: 4rem;
        justify-content: center;
    > a > h1 {
        display: none;
    }
        > nav {
            padding: 0;
            > ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}