@import "./global.css";

:root {
    --primary-color: #0055ff; 
    --secondary-color: #42e3ff; 
    --background-color: #ffffff;
    --element-background-color: #ffffff; 
    --secondary-background-color: #000000; 
    --font-color: #000000; 
    --secondary-font-color: #000000; 
    --button-font-color: white; 
}

* :not(p, div, h3, h2, h1, a, span, ul, li, footer, nav) {
    border: 2px solid black;
}

* > img {
    filter: contrast(1.2);
}