@import "./highcontrast.css";
@import "./darktheme.css";

:root {
    --background-color: #000000;
    --element-background-color: #000000; 
    --secondary-background-color: #ffffff; 
    --font-color: #ffffff; 
    --secondary-font-color: #ffffff; 
}

* :not(p, div, h3, h2, h1, a, span, ul, li, footer, nav) {
    border: 2px solid white;
}

