:root {
    --primary-color: #0097B3;
    --secondary-color: #38bfd7;
    --background-color: #f9f9f9;
    --element-background-color: white;
    --secondary-background-color: #d3d3d3;
    --font-color: black;
    --secondary-font-color: #555;
    --button-font-color: white;

    --text-big: 2.5em;
    --text-medium: 1.5rem;
    --text-small: 1.2em;
    --text-extra-small: 1em;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
}

footer {
    margin-bottom: 4rem;
    font-size: var(--text-extra-small);
    color: var(--font-color);
}

header {
    position: sticky;
    top:0;
    z-index: 1000;
    background-color: var(--element-background-color);
    margin: -0.4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    
    > h1 {
        padding-left: 2rem;
    }
    
    > nav {
        padding-right: 2rem;
        > ul > li { 
            display: inline-block;
            margin: 0 1rem;
            font-size: var(--text-medium);
            width: 100%;
            height: 100%;
            position: relative;
            > a {
                text-decoration: none;
                color: var(--font-color);
                transition: color 0.3s ease;
            }
        }
        > ul > li:hover > a {
            color: var(--primary-color);
        }
    }
}

dialog {
    
    > h4 {
        font-size: var(--text-medium);
        color: var(--font-color);
        margin-bottom: 0;
    }

    width: min(28rem, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 700;
    font-size: var(--text-big);
    margin-left: 2rem;
    color: var(--font-color);
}


nav {
    > ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 0;

        > li {
            margin: 0 1rem;
        }
    }
}

footer {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 0;
    color: var(--font-color);
}

table {
    width: 20rem;
    border-collapse: collapse;
    }
    
th {
    background-color: var(--secondary-background-color); /* Fondo gris */
    font-weight: bold; /* Texto en negrita */
    border: 1px solid var(--font-color); /* Borde negro sólido de 1px */
    padding: 8px;
}
    
td {
    border: 1px solid var(--font-color); /* Borde negro sólido de 1px */
    padding: 8px;
}

form {
    padding: 2rem;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form p {
    font-size: var(--text-extra-small);
    color: var(--font-color);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--secondary-font-color);
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="password"],
form input[type="email"],
form input[type="tel"],
form input[type="color"],
form input[type="range"],
textarea,
form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid var(--secondary-background-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: var(--text-extra-small);
    background-color: var(--element-background-color);
    color: var(--font-color);
}

form input:disabled,
textarea:disabled,
form select:disabled {
    background-color: var(--secondary-background-color);
}

form input[type="file"] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

form button {
    
    width: calc(100% - 20px);
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    color: var(--button-font-color);
    font-size: var(--text-small);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: var(--secondary-color);
}

button {
    background-color: var(--primary-color);
    border: none;
    color: var(--button-font-color);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button:hover {
    background-color: var(--secondary-color);
}

h2 {
    color: var(--font-color);
    font-size: var(--text-medium);
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  

.search-bar {
    display: flex;
    align-items: center;
    background-color: var(--element-background-color);
    border: 1px solid var(--secondary-background-color);
    border-radius: 25px;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin: 1rem;

    > input[type="text"] {
        border: none;
        outline: none;
        flex: 1;
        padding: 0.5rem;
        font-size: var(--text-extra-small);
        border-radius: 25px;
        margin-bottom: 0;
        background-color: var(--element-background-color);
        color: var(--font-color)
    }

    > button {
        width: 2rem;
        height: 2rem;
        text-align: center;
        background-color: var(--primary-color);
        border: none;
        color: var(--button-font-color);
        padding: 0.5rem 1rem;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: var(--text-small);
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    > button:hover {
        background-color: var(--secondary-color);
    }    
}

.botones-perfil {
    display: flex;
    flex-direction: row;
    
    > button {
        margin: 1rem;
        padding: 1rem;
    }
}

.titulo-anuncios-perfil {
    margin-top: 3rem;
}

.card {
    background-color: var(--element-background-color);
    width: 20rem;
    height: 25rem;
    margin: 1rem;
    border-radius: 5%;
    overflow: hidden;
    line-height: 0.8rem;
    transition: transform 0.3s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    

    > a { 
        text-decoration: none;
        color: var(--font-color); 
        font-size: var(--text-extra-small);
        display: flex;
        flex-direction: column;

        > p {
            font-size: var(--text-extra-small);
        }

        > h3 {
            font-size: var(--text-small);
        }

        > h2 {
            font-size: var(--text-medium);
        }

        > *:not(.card-img) {
            margin-left: 1rem;
        }

        &:hover h3 {
            color: var(--primary-color);
        }
        
        > .card-img {
            height: 14rem;
            object-fit: cover;
        }
               
    }

    &:hover {
        transform: scale(1.05);
    }
}

.mensaje {
    background-color: var(--element-background-color);
    width: 26rem;
    height: rem;
    margin: 1rem;
    border-radius: 5%;
    overflow: hidden;
    transition: transform 0.3s ease;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .user-img {
        margin-left: 1rem;
        margin-top: 1rem;
        border-radius: 50%;
    }

    .mensaje-info {
        margin: 1rem;
    }
}

.mensaje-ok {
    background-color: var(--element-background-color);
    width: min(550px, 75%);
    height: auto;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    font-size: var(--text-small);
}


.mensaje-error {
    color: red;
    background-color: var(--element-background-color);
    width: min(600px, 85%);
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    font-size: var(--text-small);
}

.titulo {
    text-decoration: none;
    color: var(--font-color);
}

.login-container {
    width: min(30rem, 80%);
}

.enlace-registro, .enlace-login {
    text-align: center;
    margin-top: 2rem;
}

.photo-info-panel {
    border: 1px solid #ccc;
    background-color: var(--element-background-color);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    
        > a > img {
            border-radius: 10px;
            overflow: hidden;
        }
}

.photo-info-panel img {
    max-width: 100%;
    height: auto;
}

.photo-info-panel .info {
    margin-top: 10px;
}

.seccion {
    background-color: var(--background-color);
    width: 30rem;
}

.info {
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
        margin-top: 2rem;
        text-align: center;
    }

    > .seccion {
        width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        > table {
            width: 100%;
        }
    }
}

.enlace-accesibilidad {
    text-decoration: none;
    color: var(--primary-color);
}


#grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form, #tarifas {
    margin: 2rem;
    align-items: center;
    
    > h2{
        text-align: center;
    }
}

#tarifas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#tituloMovil {
    display: none;
    color: var(--font-color);
}

#galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galeria_fotos {
    text-align: center;
    padding: 2rem;

    > h3 {
        font-size: var(--text-medium);
        margin-bottom: 1rem;
    }

    .thumbnails {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .thumbnail {
        width: 360px;
        height: 360px;
        object-fit: cover;
        border-radius: 10px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .thumbnail:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

#photo_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--element-background-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    max-width: 600px;
    margin: 1rem;

    > h2 {
        font-size: var(--text-medium);
        color: var(--font-color);
        margin-bottom: 0.5rem;
    }

    > p {
        font-size: var(--text-extra-small);
        color: var(--secondary-font-color);
        margin: 0.5rem 0;
    }

    > h3 {
        font-size: var(--text-small);
        color: var(--primary-color);
        margin: 0.5rem 0;
    }

    > img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin: 1rem 0;
    }

    > p:last-of-type {
        font-weight: bold;
        color: var(--font-color);
    }
}


#profile_picture {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
}

#publisher_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--element-background-color);
    cursor: pointer;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 1rem;
    width: min(600px, 85%);


    .publisher_img {
        margin-top:0.5rem;
        width: 8rem;
        height: 8rem;
        border-radius: 50%; 
    }
    
        > p {
            font-size: var(--text-medium);
            color: var(--font-color);
            font-weight: bold;
            margin-top: 1rem;
        }

    > #enviar-mensaje {
        display: flex;
        justify-content: center;
        align-items: center;
        
            > p {
                margin: 0;
                font-size: var(--text-extra-small);
                color: var(--font-color);
                font-weight: bold;
                margin-top: 0.3rem;
                margin-bottom: 1rem;
            }
    }

    button {
        background-color: var(--primary-color);
        border: none;
        color: var(--button-font-color);
        padding: 0.5rem 1rem;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: var(--secondary-color);
    }
}


@media (max-width: 650px) {

    #tituloMovil {
        display: inline;
    }

    header {
        z-index: 1000;
        position: fixed;
        top: auto;
        bottom: 0;
        margin-bottom: 0;
        height: 4rem;
        justify-content: center;
    > a > h1 {
        display: none;
    }
        > nav {
            padding: 0;
            > ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #info-formulario-folleto {
        text-align: center;
    }

    #grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    #albumTableContainer {

        > * {
            font-size: 0.7rem;
        }
    }

    footer {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
}

